@font-face {
  font-family: "CustomFont";
  src: url("../font/Quinquefive-ALoRM.ttf");
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  background-image: url("../imgs/pixel-art-galaxy.png"), url("../imgs/pixel-art-galaxy.png"); /* Duplicate image */
  background-size: 100% auto;
  background-position: 0 0;
  overflow: hidden;
  position: relative;
  animation: scrollBackground 30s linear infinite;
  animation-iteration-count: infinite;
}

@keyframes scrollBackground {
  0% {
    background-position: 3840px 0; /* Start at left side */
  }
  100% {
    background-position: 0 0; /* Move image by slightly more than its width */
  }
}
.container {
  position: relative;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.path-container {
  left: 45.7%; /* Center horizontally */
  transform: translate(-50%, -50%);
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.path-button {
  padding: 0.3em;
  border-style: outset;
  border-color: grey;
}
.text-container {
  color: #03A062;
  display: block; 
  overflow-y: scroll;

  position: absolute;
  top: 50.9%; /* Center vertically */
  left: 45.7%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust for the container's own dimensions */
  /* width: calc(110% / 1.75); Adjust as needed */
  /* height: calc(110% / 1.2); Adjust as needed */
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: top; */
  align-items: center;
  z-index: 2; /* Text above rocket */
}
h1, p {
  /* color: #03A062; */
  font-family: "CustomFont", pixel;
  /* font-size: 1.7rem; */
  font-size: 20px;
}
.green, .green_hoverable { color: #03A062; }
.green2, .green_hoverable:hover { color: #00a621 /* #007a5a */; }
.red { color: #a00303; }
.red:hover { color: #801713; }
.blue, .blue_hoverable { color: #6770F0 /* #7D83FF */; }
.blue2, .blue_hoverable:hover { color: #3f13ed /* #6603A0 */; }
.grey, .grey_hoverable { color: #a1a1a1; }
.grey2, .grey_hoverable:hover { color: #707070 /* #4a4a4a */; }
.orange, .orange_hoverable { color: #F58A07; }
.orange2, .orange_hoverable:hover { color: #FB5607; }
.purple, .purple_hoverable { color: #b244f2 /* #a738e8 /* #9a33d6 #8f30c7 */; }
.purple2, .purple_hoverable:hover { color: #c100d4 /* #a700bd /* #c700a6 /* #c900b9 /* #bf00b9 /* #a000a8 */; }
/* .purple { color: #ad0597; }
.purple:hover { color: #8A049C; }
.purple { color: #91047E; }
.purple:hover { color: #9A0061; } */

::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track { background: rgba(50, 50, 50, 0.5); }
::-webkit-scrollbar-thumb { background: rgba(192, 49, 46, 0.5); }
::-webkit-scrollbar-thumb:hover {
  background: rgba(192, 49, 46, 0.7);
  /* background: #801713; */
}
.rocket-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1; /* rocket behind text */
  width: 110%; /* Editable */
  height: auto; /* Editable */
  /* object-fit: contain; */
}
.fire-animation {
  position: absolute;
  transform: translateX(-75%) rotate(270deg);
  width: 80%;
  height: 30%;
  background: url('../assets/sprites/burning_loop_1.png') no-repeat;
  background-size: 800% 100%;
  background-position: 0% 0%;
  animation-name: animateFire;
  animation-duration: 0.5s;
  animation-timing-function: steps(7);
  animation-iteration-count: infinite;
  z-index: -2;
}
@keyframes animateFire {
  from { background-position: 0% 0%; }
  to { background-position: 100% 0%; }
}
@media screen and (min-width: 991px) {
  .text-container {
    top: 50.9%;
  }
  .path-button { font-size: 20px; }
}
@media screen and (max-width: 991px) {
  .text-container {
    top: 50.8%;
  }
  .path-button { font-size: 15px; }
}
@media screen and (max-width: 900px) {
  .text-container {
    top: 50.8%;
  }
  .path-button { font-size: 15px; }
}
@media screen and (max-width: 770px) {
  .text-container {
    top: 50.6%;
  }
  h1, p { font-size: 15px; }
  .path-button { font-size: 11px; }
}
@media screen and (max-width: 700px) {
  .text-container { top: 50.6%; }
  h1, p { font-size: 13px; }
  .path-button { font-size: 10px; }
}
@media screen and (max-width: 480px) {
  .path-button { font-size: 9px; }
}
@media screen and (max-width: 400px) {
  .text-container { top: 50.6%; }
  h1, p { font-size: 8px; }
  .path-button { font-size: 7px; }
}
@media screen and (max-width: 305px) {
  .text-container { top: 50.6%; }
  h1, p { font-size: 8px; }
  .path-button { font-size: 6px; }
}
@media screen and (max-width: 225px) {
  .text-container { top: 50.2%; }
  h1, p { font-size: 5px; }
  .path-button { font-size: 4px; }
}
