<!DOCTYPE html>
<html lang="en">
<head>
    <title>Galactic Resource Market</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <div class="container">
        <img class="rocket-image" src="../static/imgs/pixel-rocket.png" alt="pixel-rocket">
        <div class="fire-animation"></div>
        <div class="text-container grey">
            <p class="green">Welcome to the Galactic Resource Market</p>
            <p class="green">Explore the vast universe and discover valuable resources!</p>
        </div>
    </div>
<div class="path-container">
    <div><p class="path-button orange_hoverable" id="systems">Systems</p></div>
    <div><p class="path-button blue_hoverable" id="planets">Planets</p></div>
    <div><p class="path-button purple_hoverable" id="resources">Resources</p></div>
</div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="../static/js/script_copy.js"></script>
</body>
</html>
